*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
}

/* Navigation */

header{
    position:absolute;
    width:100%;
    z-index:100;
}

nav{

    width:90%;
    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 0;

}

.logo{

    color:white;

    font-size:30px;

    font-weight:700;

}

nav ul{

    display:flex;

    list-style:none;

    gap:35px;

}

nav a{

    color:white;

    text-decoration:none;

    font-size:18px;

    transition:.3s;

}

nav a:hover{

    color:#d4af37;

}

/* Hero */

.hero{

    height:100vh;

    background:url("images/hero.jpg");

    background-size:cover;

    background-position:center;

    position:relative;

    display:flex;

    justify-content:center;

    align-items:center;

}

.overlay{

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.55);

}

.hero-content{

    position:relative;

    text-align:center;

    color:white;

    width:80%;

}

.hero h1{

    font-size:65px;

    margin-bottom:20px;

}

.hero p{

    font-size:22px;

    margin-bottom:40px;

}

.btn{

    display:inline-block;

    background:#d4af37;

    color:white;

    text-decoration:none;

    padding:18px 40px;

    border-radius:50px;

    transition:.3s;

}

.btn:hover{

    background:#b89025;

}
